@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PROG2B</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<input id="btnShow" type="button" value="Show" />
<!--HTML and CS-->
@for (int i = 1; i <= 10; i++)
{
    @i
    <br>
    
}


