<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d1788afb-2254-4f5f-8826-94750f6da544/resourceGroups/AZ-JHB-RSG-LBS-RCGPPT-SUB3/providers/Microsoft.Web/sites/voitingapp</ResourceId>
    <ResourceGroup>AZ-JHB-RSG-LBS-RCGPPT-SUB3</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://voitingapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>083aa56b-22f8-4cba-a241-22c0a2d660cb</ProjectGuid>
    <PublishUrl>https://voitingapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$voitingapp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>